body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    /*overflow-y: hidden;*/
}

a{
    text-decoration: none;
}
/*-------------Chat Container -----------------*/

/*.chat-display{*/
/*    !*padding: 20px;*!*/
/*    !*height: 60vh;*!*/
/*    !*overflow-y: auto; !*dùng để cuộn tất cả tin nhắn lên xuống*!*!*/
/*}*/


.chat-container {
    width: 25%;
    background-color: white;
    z-index: 1;
    /*padding: 20px;*/
    overflow-y: auto; /*dùng để cuộn tất cả tin nhắn lên xuống*/
}

.chat-container-header {
    background: linear-gradient(45deg, #fd2b75, #ff4b2b);
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.chat-container-header .profile,
.chat-container-header .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.chat-container .option {
    border: none;
    background-color: white;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}


#chatContent{
    display:flex;
    height: 75vh;
}

.chat-input {
    /*position: absolute;*/
    /*bottom: 2vh;*/
    /*justify-content: end;*/
    /*padding: 0 20px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}

.chat-input{
    margin-bottom: 1vh;
    position: fixed;
    bottom: 0;
    /*background-color: #f1f1f1;*/
    padding: 0 20px;
    display: flex;
    align-items: center;
}
#chatContent .chat-input input[type="text"] {

    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}


.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;

}

.img-container img {
    width: 100%;
}

.match-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match-user .username {
    color: black;
    font-size: larger;
    font-weight: bold;
    padding: 12px;
}

.chat-user {
    display: flex;
}

.chat-area .username {
    color: black;
    font-size: larger;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
}

.chat-area .chat-text {
    padding: 0 0 5px 15px;
}

.submit-button {
    color: rgb(121, 119, 119);
    background: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid rgb(121, 119, 119);
    margin: 6px;
}

.submit-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

/*-------------Swiper Container -----------------*/
.swipe-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 38, 122)) no-repeat;
    z-index: 0;
    overflow: hidden;
}

#swiper {
    height: 70vh;
    aspect-ratio: 2 / 3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    /*transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));*/
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


h3 {
    text-align: center;
    color: white;
    z-index: 3;
    text-decoration: none;
}


.action-button {
    display: flex;
    margin-top: 5vh;
}

#like,
#dislike {
    font-size: 5vh;
    margin: 50px;

    border-radius: 50%;
    padding: 20px;
    position: relative;
    z-index: 1;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
}

#like.trigger,
#dislike.trigger {
    animation-name: animation2;
}

#like {
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
}

#dislike {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes animation1 {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

@keyframes animation2 {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

/*------------- tab-bar -----------------*/

.slidemenu {
    display: none;
}


.clear {
    clear: both;
}


.slide-toggle {
    display: none;
}

.slidemenu {
    font-family: arial, sans-serif;
    max-width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.slidemenu label {
    width: calc(100% / 3);;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;

}

.slidemenu label:hover {
    cursor: pointer;
    color: #666;
}

.slidemenu label span {
    display: block;
    padding: 10px;
}

.slidemenu label .icon {
    font-size: 50px;
    /*border: solid 2px #333;*/
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
}

/*Bar Style*/

.slider {
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.slider .bar {
    width: calc(100% / 3);
    height: 5px;
    background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 38, 122)) no-repeat;
    border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label {
    opacity: 1;
}


.slidemenu #slide-item-1:checked ~ .slider .bar {
    margin-left: 0;
}

.slidemenu #slide-item-2:checked ~ .slider .bar {
    margin-left: calc(1 * 100% / 3);
}

.slidemenu #slide-item-3:checked ~ .slider .bar {
    margin-left: calc(2 * 100% / 3);
}

#like, #dislike {
    font-size: 5vh;
}

#swiper {
    height: 60vh;
}



/*------------- Responsive -----------------*/
@media screen and (max-width: 950px) {
    .chat-container {
        display: none;
    }

    .swipe-container {
        width: 100%;
        height: 90vh;
        border-radius: 0 0 15px 15px;
    }
    #chatContent .chat-input {

        bottom: 10vh;

    }
    .slidemenu {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}

