<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/dashboard.css"/>
    <link rel="shortcut icon" href="../img/favicon.png">
    <title>Amour | Love at first chat</title>
</head>
<body>
<div class="dashboard">

    <div id="chatDisplay" class="chat-container">
        <div class="chat-container-header">
            <div class="profile">
                <div class="img-container">
                    <img src="../img/favicon.png"/>
                </div>
                <a href="profile.html"><h3>Ariana Grande</h3></a>
            </div>
            <i class="log-out-icon" onClick={logout}>
                <ion-icon name="log-out-outline"></ion-icon>
            </i>
        </div>

        <div>
            <button id="matchesButton" class="option" onclick="toggleChat()">Matches</button>
            <button id="chatButton" class="option" onclick="toggleMatches()">Chat</button>
        </div>

        <div id="matchesContent">
            <div class="match-display">
                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">Jackson</div>
                </div>

                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">David</div>
                </div>

                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">Tommy</div>
                </div>

                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">Tesla</div>
                </div>

                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">Harry</div>
                </div>

                <div class="match-user">
                    <div class="img-container">
                        <img src="../img/favicon.png"/>
                    </div>
                    <div class="username">Huy</div>
                </div>
            </div>
        </div>
        <div id="chatContent" style="display: none;">
            <div class="chat-user">
                <div class="img-container">
                    <img src="../img/favicon.png"/>
                </div>
                <div class="chat-area">
                    <div class="username">Jackson</div>
                    <div class="chat-text">hi</div>
                    <div class="chat-text">how are you?</div>
                </div>

            </div>

            <div class="chat-input">
                <input type="text"/>
                <button class="submit-button">Send</button>
            </div>
        </div>

    </div>

    <div id="swiperDisplay" class="swipe-container">
        <div id="swiper">
            <div class="card" style="--i:i"></div>
            <h3>David</h3>
            <!--            <div class="card" style="&#45;&#45;i:1">-->
            <!--            </div>-->
            <!--            <div class="card" style="&#45;&#45;i:2">-->
            <!--            </div>-->
            <!--            <div class="card" style="&#45;&#45;i:3">-->
            <!--            </div>-->
            <!--            <div class="card" style="&#45;&#45;i:4">-->
            <!--            </div> &ndash;&gt;-->
        </div>
        <div class="action-button">
            <ion-icon id="dislike" name="heart-dislike"></ion-icon>

            <ion-icon id="like" name="heart"></ion-icon>

        </div>
    </div>

    <nav class="slidemenu" >

        <!-- Item 1 -->
        <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
        <label for="slide-item-1" onclick="mobileMatches()">
            <p class="icon">
                <ion-icon name="heart"></ion-icon>
            </p>
            <span>Match</span></label>

        <!-- Item 2 -->
        <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
        <label for="slide-item-2" onclick="mobileChat()">
            <p class="icon">
                <ion-icon name="chatbubbles"></ion-icon>
            </p>
            <span>Chat</span></label>

        <!-- Item 3 -->
        <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
        <label for="slide-item-3">
            <p class="icon">
                <ion-icon name="person"></ion-icon>
            </p>
            <span>Profile</span></label>


        <div class="clear"></div>

        <!-- Bar -->
        <div class="slider">
            <div class="bar"></div>
        </div>

    </nav>

</div>
</div>

<script src="../js/action.js"></script>
<script src="../js/card_container.js"></script>
<script src="../js/script_card_container.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>